<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="GenshinNamecardINICreator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
 </configSections>
 <appSettings>
		<add key="OutputFolder" value=""/>
		<add key="KeyPause" value="a VK_UP"/>
		<add key="KeyCycleForward" value="a VK_RIGHT"/>
		<add key="KeyCycleBackward" value="a VK_LEFT"/>
		<add key="KeyCycleRandom" value="a VK_DOWN"/>
		<add key="RandomLogin" value="1"/>
	</appSettings>
 <userSettings>
  <GenshinNamecardINICreator.Properties.Settings>
   <setting name="OutputFolder" serializeAs="String">
    <value />
   </setting>
   <setting name="KeyPause" serializeAs="String">
    <value>a VK_UP</value>
   </setting>
   <setting name="KeyCycleForward" serializeAs="String">
    <value>a VK_RIGHT</value>
   </setting>
   <setting name="KeyCycleBackward" serializeAs="String">
    <value>a VK_LEFT</value>
   </setting>
   <setting name="RandomLogin" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="KeyCycleRandom" serializeAs="String">
    <value>a VK_DOWN</value>
   </setting>
  </GenshinNamecardINICreator.Properties.Settings>
 </userSettings>
</configuration>